.git
**/.git
.vs
**/.vs
**/bin
**/obj
.idea
**/.idea
.vscode
**/.vscode
**/*.user
**/*.suo
**/*.userosscache
**/*.sln.docstates
.env
.env.*
**/.env
**/.env.*
**/TestResults
**/artifacts
**/publish
**/out
**/coverage
**/*.log
